.nav-item:hover {
    border-left: solid 3px #DDE2FF;
    background-color: #9fa2b483;
}

.main {
    background-color: #F7F8FC;
}

.topCards .card:hover, 
.bottomCards .card ul li:hover, 
.cardRow ul li:hover{
    border: solid 1.5px #0d6efd;
    color: #0d6efd
}
#chart {
    width: 100%;
}
